body{
    margin: 0;
}

/* nav section */

.header{
    padding: 0 45px 0 45px;
    background-color: pink;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li{
    margin-left: 20px;
}

/* Hero img  => needs work */
.content{
    padding: 50px;
}

#headshot{
    border-radius: 50%;
    float: inline-end;
}

/* My Work */
.myWork{
    padding: 45px;
    text-align: center;
}

.workGrid{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 25% 500px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    max-width: 1200px;
    align-items: center;
    padding: 45px;
}

.project-descript{
    text-align: left;
    padding-left: 10px;
}

.projectImg{
    background-color: aliceblue;
    box-shadow: 8px 8px 10px grey;
}



/* Skills - I've tried many times to make the cards align right next to each others, even this TA's help. But they won't work :( */
.mySkills{
    text-align: center;
    flex-direction: row;
}

.flexContainer{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.card{
    border: 1px solid red;
    width: 400px;
}

#flex{
    flex-direction: row;
}


/* Footer */

footer{
    text-align: center;
}

hr.solid {
    border-top: 3px solid #bbb;
  }

/* Mobile Media Query*/
@media only screen and (max-width: 600){
    .flexContainer{
        display: column;
        width: 100%;
    }

    .workGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
/* have troulbe making it work */